name: test
on:
  pull_request:

jobs:
  setup:
    runs-on: ubuntu-latest
    outputs:
      bar: ${{ steps.foo.outputs.bar }}
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - id: foo
        run: echo "::set-output name=bar::$(echo FOO-BAR)"
      - id: test
        run: echo "${{ steps.foo.outputs.bar }}"
  test-run:
    needs: [setup]
    runs-on: ubuntu-latest
    steps:
      - id: test
        run: echo "${{ needs.setup.outputs.bar }}"

